@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-custom-black: #010001;
  --color-custom-blue: #3f02cb;
  --color-custom-dark-blue: #4f02fe;
  --color-custom-purple: #a40a86;
  --color-custom-light-purple: #cd0ca7;
  --color-custom-light-gray: #f1f1f1;
  --color-custom-light-red: #cd0ca714;
  --color-custom-gray: #cccccc;
  --color-custom-fade-black: #333333;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f6fa;
}

.button-bg {
  background: linear-gradient(
    299.31deg,
    #eb088d 9.21%,
    #a911c6 34.26%,
    #7717f3 66.93%,
    #640df9 110.07%
  );
}

.table-shadow {
  box-shadow: 0px 16px 53.7px 0px #4f02fe14;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.page-no-bg {
  background: linear-gradient(0deg, #4f02fe, #4f02fe),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
